
<table border="1" style="width: 100%; margin-left: -15%; border-collapse: collapse; font-size: 0.8em;">
<tr><th>Year</th><th>Protocol</th><th>Setup</th><th>Prover</th><th>Proof Size</th><th>Verifier</th><th>Recurse</th><th>Fold</th></tr>
<tr><td>2013</td><td>BSCTV 13 SNARK</td><td>Trusted: Universal</td><td>$O(n \log n)$</td><td>$O(1)$</td><td>$O(1)$</td><td></td><td></td></tr>
<tr><td>2013</td><td>Pinocchio</td><td>Trusted: Circuit-specific</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2016</td><td>Groth16</td><td>Trusted: Circuit-specific</td><td>$O(n \log n)$</td><td>$O(1)$</td><td>$O(1)$</td><td>No</td><td></td></tr>
<tr><td>2016</td><td>Hyrax</td><td>Transparent</td><td>$O(n + m * g)$</td><td>$O(m + \sqrt w)$</td><td>$O(m + \sqrt w)$</td><td>No</td><td></td></tr>
<tr><td>2017</td><td>BCG+</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2017</td><td>Bulletproofs</td><td>Transparent</td><td>$O(n)$</td><td>$O(\log n)$</td><td>$O(n)$</td><td>No?</td><td></td></tr>
<tr><td>2017</td><td>Ligero</td><td>Transparent</td><td>$O(n \log n)$</td><td>$O(\sqrt n)$</td><td>$O(n)$</td><td>No?</td><td></td></tr>
<tr><td>2018</td><td>Aurora</td><td>Transparent</td><td>$O(n \log n)$</td><td>$O(\log^2 n)$</td><td>$O(n)$</td><td>No?</td><td></td></tr>
<tr><td>2018</td><td>STARKs</td><td>Transparent</td><td>O(n \log^2 n)</td><td>$O(\log^2 n)$</td><td>$O(\log^2 n)$</td><td>Maybe?</td><td></td></tr>
<tr><td>2019</td><td>Fractal</td><td>Transparent</td><td>$O(n \log n)$</td><td>$O(\log^2 n)$</td><td>$O(\log^2 n)$</td><td>Yes</td><td></td></tr>
<tr><td>2019</td><td>Halo</td><td>Transparent</td><td>$O(n \log n)$</td><td>$O(\log n)$</td><td>$O(n)$</td><td>Yes</td><td></td></tr>
<tr><td>2019</td><td>Libra</td><td>Trusted: Universal</td><td>$O(n)$</td><td>$O(d \log n)$</td><td>$O(d \log n)$</td><td></td><td></td></tr>
<tr><td>2019</td><td>PLONK</td><td>Trusted: Updatable, Universal</td><td>$O(n \log n)$</td><td></td><td></td><td></td><td></td></tr>
<tr><td>2019</td><td>Sonic</td><td>Trusted: Updatable, Universal</td><td>$O(n \log n)$</td><td>$O(1)$</td><td>$O(1)$</td><td></td><td></td></tr>
<tr><td>2019</td><td>SuperSonic</td><td>Transparent</td><td>$O(n \log n)$</td><td>$O(\log n)$</td><td>$O(\log n)$</td><td></td><td></td></tr>
<tr><td>2019</td><td>Virgo</td><td>Transparent</td><td>$O( C + n \log n )$</td><td>$O (D \log C + \log^2 n)$</td><td>$O( D \log C + \log^2 n)$</td><td></td><td></td></tr>
<tr><td>2020</td><td>Dory</td><td>Transparent</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2020</td><td>Halo Infinite</td><td></td><td></td><td></td><td></td><td>Yes</td><td></td></tr>
<tr><td>2020</td><td>Marlin</td><td>Trusted: Updatable, Universal</td><td>$O(n \log n)$</td><td></td><td></td><td></td><td></td></tr>
<tr><td>2020</td><td>Quarks: Kopis</td><td>Transparent</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2020</td><td>Quarks: Xiphos</td><td>Transparent</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2020</td><td>Spartan CL</td><td>Transparent</td><td>$O(n \log n)$</td><td>$O(\log^2 n)$</td><td>$O(\log^2 n)$</td><td>Yes?</td><td></td></tr>
<tr><td>2020</td><td>Spartan DL</td><td>Transparent</td><td>$O(n)$</td><td>$O(\sqrt n)$</td><td>$O(\sqrt n)$</td><td>Yes?</td><td></td></tr>
<tr><td>2020</td><td>Spartan KE</td><td>Trusted</td><td>$O(n)$</td><td>$O(\log^2 n)$</td><td>$O(\log^2 n)$</td><td>Yes?</td><td></td></tr>
<tr><td>2020</td><td>Spartan RO</td><td>Transparent</td><td>$O(n \log n)$</td><td>$O(\log^2 n)$</td><td>$O(\log^2 n)$</td><td>Yes?</td><td></td></tr>
<tr><td>2021</td><td>Brakedown</td><td>Transparent</td><td>$O(n)$</td><td></td><td></td><td></td><td></td></tr>
<tr><td>2021</td><td>Brakedown: Shockwave</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2021</td><td>Nova</td><td></td><td>$O(n)$</td><td>$O(\log n)$</td><td>$O(n)$ or $O(\log n)$</td><td>Yes</td><td>Yes</td></tr>
<tr><td>2022</td><td>HyperPlonk</td><td></td><td>$O(n)$</td><td></td><td></td><td></td><td></td></tr>
<tr><td>2022</td><td>Orion</td><td></td><td>$O(n)$</td><td>$O(\log^2 n)$</td><td>$O(\log^2 n)$</td><td></td><td></td></tr>
<tr><td>2022</td><td>Plonky2</td><td></td><td></td><td></td><td></td><td>Yes</td><td></td></tr>
<tr><td>2022</td><td>SuperNova</td><td></td><td></td><td></td><td></td><td>Yes</td><td>Yes</td></tr>
<tr><td>2023</td><td>Binius</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2023</td><td>HyperNova</td><td></td><td></td><td></td><td></td><td>Yes</td><td>Yes</td></tr>
<tr><td>2023</td><td>ProtoGalaxy</td><td></td><td></td><td></td><td></td><td>Yes</td><td>Yes</td></tr>
<tr><td>2023</td><td>Protostar</td><td></td><td></td><td></td><td></td><td>Yes</td><td>Yes</td></tr>
<tr><td>2023</td><td>SuperSpartan</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2024</td><td>LatticeFold</td><td></td><td></td><td></td><td></td><td>Yes</td><td>Yes</td></tr>
</table>
